/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*--------------------------------------- Additional Options ----------------------------------------------*/
/*------------------------------- Grid System For Responsive --------------------------*/
@media screen and (min-width:35.5em){.p-u-sm-1,.p-u-sm-1-1,.p-u-sm-1-12,.p-u-sm-1-2,.p-u-sm-1-24,.p-u-sm-1-3,.p-u-sm-1-4,.p-u-sm-1-5,.p-u-sm-1-6,.p-u-sm-1-8,.p-u-sm-10-24,.p-u-sm-11-12,.p-u-sm-11-24,.p-u-sm-12-24,.p-u-sm-13-24,.p-u-sm-14-24,.p-u-sm-15-24,.p-u-sm-16-24,.p-u-sm-17-24,.p-u-sm-18-24,.p-u-sm-19-24,.p-u-sm-2-24,.p-u-sm-2-3,.p-u-sm-2-5,.p-u-sm-20-24,.p-u-sm-21-24,.p-u-sm-22-24,.p-u-sm-23-24,.p-u-sm-24-24,.p-u-sm-3-24,.p-u-sm-3-4,.p-u-sm-3-5,.p-u-sm-3-8,.p-u-sm-4-24,.p-u-sm-4-5,.p-u-sm-5-12,.p-u-sm-5-24,.p-u-sm-5-5,.p-u-sm-5-6,.p-u-sm-5-8,.p-u-sm-6-24,.p-u-sm-7-12,.p-u-sm-7-24,.p-u-sm-7-8,.p-u-sm-8-24,.p-u-sm-9-24{display:inline-block;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}.p-u-sm-1-24{width:4.1667%}.p-u-sm-1-12,.p-u-sm-2-24{width:8.3333%}.p-u-sm-1-8,.p-u-sm-3-24{width:12.5%}.p-u-sm-1-6,.p-u-sm-4-24{width:16.6667%}.p-u-sm-1-5{width:20%}.p-u-sm-5-24{width:20.8333%}.p-u-sm-1-4,.p-u-sm-6-24{width:25%}.p-u-sm-7-24{width:29.1667%}.p-u-sm-1-3,.p-u-sm-8-24{width:33.3333%}.p-u-sm-3-8,.p-u-sm-9-24{width:37.5%}.p-u-sm-2-5{width:40%}.p-u-sm-10-24,.p-u-sm-5-12{width:41.6667%}.p-u-sm-11-24{width:45.8333%}.p-u-sm-1-2,.p-u-sm-12-24{width:50%}.p-u-sm-13-24{width:54.1667%}.p-u-sm-14-24,.p-u-sm-7-12{width:58.3333%}.p-u-sm-3-5{width:60%}.p-u-sm-15-24,.p-u-sm-5-8{width:62.5%}.p-u-sm-16-24,.p-u-sm-2-3{width:66.6667%}.p-u-sm-17-24{width:70.8333%}.p-u-sm-18-24,.p-u-sm-3-4{width:75%}.p-u-sm-19-24{width:79.1667%}.p-u-sm-4-5{width:80%}.p-u-sm-20-24,.p-u-sm-5-6{width:83.3333%}.p-u-sm-21-24,.p-u-sm-7-8{width:87.5%}.p-u-sm-11-12,.p-u-sm-22-24{width:91.6667%}.p-u-sm-23-24{width:95.8333%}.p-u-sm-1,.p-u-sm-1-1,.p-u-sm-24-24,.p-u-sm-5-5{width:100%}}@media screen and (min-width:48em){.p-u-md-1,.p-u-md-1-1,.p-u-md-1-12,.p-u-md-1-2,.p-u-md-1-24,.p-u-md-1-3,.p-u-md-1-4,.p-u-md-1-5,.p-u-md-1-6,.p-u-md-1-8,.p-u-md-10-24,.p-u-md-11-12,.p-u-md-11-24,.p-u-md-12-24,.p-u-md-13-24,.p-u-md-14-24,.p-u-md-15-24,.p-u-md-16-24,.p-u-md-17-24,.p-u-md-18-24,.p-u-md-19-24,.p-u-md-2-24,.p-u-md-2-3,.p-u-md-2-5,.p-u-md-20-24,.p-u-md-21-24,.p-u-md-22-24,.p-u-md-23-24,.p-u-md-24-24,.p-u-md-3-24,.p-u-md-3-4,.p-u-md-3-5,.p-u-md-3-8,.p-u-md-4-24,.p-u-md-4-5,.p-u-md-5-12,.p-u-md-5-24,.p-u-md-5-5,.p-u-md-5-6,.p-u-md-5-8,.p-u-md-6-24,.p-u-md-7-12,.p-u-md-7-24,.p-u-md-7-8,.p-u-md-8-24,.p-u-md-9-24{display:inline-block;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto;float:left}.p-u-md-1-24{width:4.1667%}.p-u-md-1-12,.p-u-md-2-24{width:8.3333%}.p-u-md-1-8,.p-u-md-3-24{width:12.5%}.p-u-md-1-6,.p-u-md-4-24{width:16.6667%}.p-u-md-1-5{width:20%}.p-u-md-5-24{width:20.8333%}.p-u-md-1-4,.p-u-md-6-24{width:25%}.p-u-md-7-24{width:29.1667%}.p-u-md-1-3,.p-u-md-8-24{width:33.3333%}.p-u-md-3-8,.p-u-md-9-24{width:37.5%}.p-u-md-2-5{width:40%}.p-u-md-10-24,.p-u-md-5-12{width:41.6667%}.p-u-md-11-24{width:45.8333%}.p-u-md-1-2,.p-u-md-12-24{width:50%}.p-u-md-13-24{width:54.1667%}.p-u-md-14-24,.p-u-md-7-12{width:58.3333%}.p-u-md-3-5{width:60%}.p-u-md-15-24,.p-u-md-5-8{width:62.5%}.p-u-md-16-24,.p-u-md-2-3{width:66.6667%}.p-u-md-17-24{width:70.8333%}.p-u-md-18-24,.p-u-md-3-4{width:75%}.p-u-md-19-24{width:79.1667%}.p-u-md-4-5{width:80%}.p-u-md-20-24,.p-u-md-5-6{width:83.3333%}.p-u-md-21-24,.p-u-md-7-8{width:87.5%}.p-u-md-11-12,.p-u-md-22-24{width:91.6667%}.p-u-md-23-24{width:95.8333%}.p-u-md-1,.p-u-md-1-1,.p-u-md-24-24,.p-u-md-5-5{width:100%}}@media screen and (min-width:64em){.p-u-lg-1,.p-u-lg-1-1,.p-u-lg-1-12,.p-u-lg-1-2,.p-u-lg-1-24,.p-u-lg-1-3,.p-u-lg-1-4,.p-u-lg-1-5,.p-u-lg-1-6,.p-u-lg-1-8,.p-u-lg-10-24,.p-u-lg-11-12,.p-u-lg-11-24,.p-u-lg-12-24,.p-u-lg-13-24,.p-u-lg-14-24,.p-u-lg-15-24,.p-u-lg-16-24,.p-u-lg-17-24,.p-u-lg-18-24,.p-u-lg-19-24,.p-u-lg-2-24,.p-u-lg-2-3,.p-u-lg-2-5,.p-u-lg-20-24,.p-u-lg-21-24,.p-u-lg-22-24,.p-u-lg-23-24,.p-u-lg-24-24,.p-u-lg-3-24,.p-u-lg-3-4,.p-u-lg-3-5,.p-u-lg-3-8,.p-u-lg-4-24,.p-u-lg-4-5,.p-u-lg-5-12,.p-u-lg-5-24,.p-u-lg-5-5,.p-u-lg-5-6,.p-u-lg-5-8,.p-u-lg-6-24,.p-u-lg-7-12,.p-u-lg-7-24,.p-u-lg-7-8,.p-u-lg-8-24,.p-u-lg-9-24{display:inline-block;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}.p-u-lg-1-24{width:4.1667%}.p-u-lg-1-12,.p-u-lg-2-24{width:8.3333%}.p-u-lg-1-8,.p-u-lg-3-24{width:12.5%}.p-u-lg-1-6,.p-u-lg-4-24{width:16.6667%}.p-u-lg-1-5{width:20%}.p-u-lg-5-24{width:20.8333%}.p-u-lg-1-4,.p-u-lg-6-24{width:25%}.p-u-lg-7-24{width:29.1667%}.p-u-lg-1-3,.p-u-lg-8-24{width:33.3333%}.p-u-lg-3-8,.p-u-lg-9-24{width:37.5%}.p-u-lg-2-5{width:40%}.p-u-lg-10-24,.p-u-lg-5-12{width:41.6667%}.p-u-lg-11-24{width:45.8333%}.p-u-lg-1-2,.p-u-lg-12-24{width:50%}.p-u-lg-13-24{width:54.1667%}.p-u-lg-14-24,.p-u-lg-7-12{width:58.3333%}.p-u-lg-3-5{width:60%}.p-u-lg-15-24,.p-u-lg-5-8{width:62.5%}.p-u-lg-16-24,.p-u-lg-2-3{width:66.6667%}.p-u-lg-17-24{width:70.8333%}.p-u-lg-18-24,.p-u-lg-3-4{width:75%}.p-u-lg-19-24{width:79.1667%}.p-u-lg-4-5{width:80%}.p-u-lg-20-24,.p-u-lg-5-6{width:83.3333%}.p-u-lg-21-24,.p-u-lg-7-8{width:87.5%}.p-u-lg-11-12,.p-u-lg-22-24{width:91.6667%}.p-u-lg-23-24{width:95.8333%}.p-u-lg-1,.p-u-lg-1-1,.p-u-lg-24-24,.p-u-lg-5-5{width:100%}}@media screen and (min-width:80em){.p-u-xl-1,.p-u-xl-1-1,.p-u-xl-1-12,.p-u-xl-1-2,.p-u-xl-1-24,.p-u-xl-1-3,.p-u-xl-1-4,.p-u-xl-1-5,.p-u-xl-1-6,.p-u-xl-1-8,.p-u-xl-10-24,.p-u-xl-11-12,.p-u-xl-11-24,.p-u-xl-12-24,.p-u-xl-13-24,.p-u-xl-14-24,.p-u-xl-15-24,.p-u-xl-16-24,.p-u-xl-17-24,.p-u-xl-18-24,.p-u-xl-19-24,.p-u-xl-2-24,.p-u-xl-2-3,.p-u-xl-2-5,.p-u-xl-20-24,.p-u-xl-21-24,.p-u-xl-22-24,.p-u-xl-23-24,.p-u-xl-24-24,.p-u-xl-3-24,.p-u-xl-3-4,.p-u-xl-3-5,.p-u-xl-3-8,.p-u-xl-4-24,.p-u-xl-4-5,.p-u-xl-5-12,.p-u-xl-5-24,.p-u-xl-5-5,.p-u-xl-5-6,.p-u-xl-5-8,.p-u-xl-6-24,.p-u-xl-7-12,.p-u-xl-7-24,.p-u-xl-7-8,.p-u-xl-8-24,.p-u-xl-9-24{display:inline-block;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}.p-u-xl-1-24{width:4.1667%}.p-u-xl-1-12,.p-u-xl-2-24{width:8.3333%}.p-u-xl-1-8,.p-u-xl-3-24{width:12.5%}.p-u-xl-1-6,.p-u-xl-4-24{width:16.6667%}.p-u-xl-1-5{width:20%}.p-u-xl-5-24{width:20.8333%}.p-u-xl-1-4,.p-u-xl-6-24{width:25%}.p-u-xl-7-24{width:29.1667%}.p-u-xl-1-3,.p-u-xl-8-24{width:33.3333%}.p-u-xl-3-8,.p-u-xl-9-24{width:37.5%}.p-u-xl-2-5{width:40%}.p-u-xl-10-24,.p-u-xl-5-12{width:41.6667%}.p-u-xl-11-24{width:45.8333%}.p-u-xl-1-2,.p-u-xl-12-24{width:50%}.p-u-xl-13-24{width:54.1667%}.p-u-xl-14-24,.p-u-xl-7-12{width:58.3333%}.p-u-xl-3-5{width:60%}.p-u-xl-15-24,.p-u-xl-5-8{width:62.5%}.p-u-xl-16-24,.p-u-xl-2-3{width:66.6667%}.p-u-xl-17-24{width:70.8333%}.p-u-xl-18-24,.p-u-xl-3-4{width:75%}.p-u-xl-19-24{width:79.1667%}.p-u-xl-4-5{width:80%}.p-u-xl-20-24,.p-u-xl-5-6{width:83.3333%}.p-u-xl-21-24,.p-u-xl-7-8{width:87.5%}.p-u-xl-11-12,.p-u-xl-22-24{width:91.6667%}.p-u-xl-23-24{width:95.8333%}.p-u-xl-1,.p-u-xl-1-1,.p-u-xl-24-24,.p-u-xl-5-5{width:100%}}
/*--------------------------------------- End * Grid System ------------------------------*/



.tmp_site_widget .title {
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    padding: 3px 0px;
}

.tmp_site_widget ul li {
    padding: 5px 0px;
    list-style-type: none;
}
.tmp_site_widget ul{
    padding: 0;
    margin: 0;
}

.tmp_task_list ul, .tmp_project_list ul{
    padding: 0;
    margin: 0;
}

.tmp_task_list ul li, .tmp_project_list ul li{
    padding: 5px 0px;
    list-style-type: none;
}
.tmp_task_list .title, .tmp_project_list .title {
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    padding: 3px 0px;
}

select.ticket {
    padding: 4px;
}

.tmp_task_list span.progress-bar-parcent-cover {
    width: 31px;
    height: 9px;
    background-color: lightgray;
    display: inline-block;
    border-radius: 3px;
    margin-right: 6px;
}

.tmp span.progress-bar-percent {
    background-color: #0073aa;
    display: inline-block;
    float: left;
    height: 100%;
}

/** Create a New ticket **/
.tmp.new_ticket_p h4.subject_title, .tmp.new_ticket_p h4.type_title, .tmp.new_ticket_p h4.details_title {
    font-size: 20px;
    font-weight: 400;
    color: #333333;
}

.tmp.new_ticket_p .input.ticket_subject input, .tmp.new_ticket_p .form-select select.ticket_type, .tmp.new_ticket_p .details textarea.details {
    background-color: #ffffff !important;
    color: #333333 !important;
    border-color: lightgray !important;
    width: 100%;
    margin: 0 !important;
}


.tmp.new_ticket_p .input.ticket_subject input {
    width: 100%;

}

/** Create a New ticket **/

